[*.cs]

# IDE0001: Simplify Names
dotnet_diagnostic.IDE0001.severity = none

# IDE0049: Simplify Names
dotnet_diagnostic.IDE0049.severity = none

# CA2012: Use ValueTasks correctly
dotnet_diagnostic.CA2012.severity = none

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none

# IDE0057: Use range operator
dotnet_diagnostic.IDE0057.severity = none

# CA1068: CancellationToken parameters must come last
dotnet_diagnostic.CA1068.severity = none
